{% extends "blog/base.html" %}
{% load widget_tweaks %}
{% block content %}
<style>
.Blog-image{
    width: 400px; 
    height: 50%;
}
</style>
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2 author" href="#">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2>{{ post.title }}</h2>
                        <!-- Display associated images -->
            {% for image in post.images.all %}
                <img src="{{ image.image.url }}" alt="Image for {{ post.title }}" class="img-fluid mt-3 rounded Blog-image">
            {% endfor %}
            <p class="article-content">{{ post.content }}</p>

            {% if user.is_authenticated and user == post.author %}
                <a href="{% url 'post-update' post.id %}" class="btn btn-secondary">Update</a>
            {% endif %}

        </div>
        {% if user == post.author %}
            <a href="{% url 'post-delete' post.id %}" class="btn btn-danger">Delete Post</a>
        {% endif %}

        
    </article>
{% endblock content %}
