{% extends "blog/base2.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="mx-auto">
   <div class="content-section">
    <form action="" method="POST" class="form-horizontal">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 text-start ml-3">Login</legend>
            
            {% for field in form %}
            <div class="form-group">
                <label class="control-label col-sm-2" for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div class="col-sm-10">
                    {{ field|add_class:"form-control" }}
                    {% if field.help_text %}
                    <small class="text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                </div>
            </div>
            {% endfor %}

            <div class="form-group text-center">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
            
        </fieldset>
    </form>

    <div class="border-top pt-3">
        <small class="text-muted">
            Need an account? <a class="ml-2" href="{%url 'register' %}">Sign Up Now</a>
        </small>
    </div>
    <a href="{% url 'password_reset' %}">Forgot your password?</a>

</div> 
</div>

{% endblock content %}
