{% extends "blog/base2.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 text-center">Reset Password</legend>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" class="form-control" required id="email" placeholder="Your email">
            </div>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
        </div>
    </form>
</div>
{% endblock content %}
